.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid grey;
    background-color: rgb(36, 35, 35);
}

.header_logo{
    object-fit: contain;
    height: 40px;
}

.header_icon{
    filter: invert();
    padding: 20px;
}